<html>
  <head>
    <title>Stream</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <link rel="stylesheet" href='../static/bootstrap/css/bootstrap.css'/>
  </head>
  <body style="background-color: #777777">
    <div class="container">
      <div class="row" style="height: 100%">
        <div class="col-2" style="border-right: 1px solid black;"></div>
        <div class="col-8" style="background-color: #ffffff">
          <div class="container">
            <div class="row">
              <div class="col-12" style="text-align:center">
              </div>
            </div>
            <div class="row">
              <canvas id="canvas"></canvas>
            </div>
            <div class="row">
              <div class="slidecontainer">
                <input type="range" value="0" class="slider" id="xRange">
              </div>
            </div>
            <div class="row">
              <div class="slidecontainer">
                <input type="range" value="0" class="slider" id="yRange">
              </div>
            </div>
            <div class="row">
              <p id="setpoint">X: 0, Y: 0</p>
            </div>
          </div>
        </div>
        <div class="col-2" style="border-left: 1px solid black;"><button id="circle" onclick="circleClick"></button></div>
      </div>
    </div>
  </body>
  <script>
    'use strict';
    document.addEventListener('DOMContentLoaded', (event) => {
      var platformRadius = 143;
      var allowedRadius = 130;
      var circle = false;
      var xRange = document.getElementById('xRange');
      var yRange = document.getElementById('yRange');
      var canvas = document.getElementById('canvas');
      var ctx = canvas.getContext('2d');
      var dot = new Dot(ctx);
      var img = new Image;

      setTimeout(()=>{
        img.src = window.location.href + 'video_feed?' + new Date().getTime();
      }, 2000);

      //img.crossOrigin = 'anonymous';
      img.onload = ()=>{
        getSetpoints(()=>{
          canvas.width = img.width*2;
          canvas.height = img.height*2;
          ctx.drawImage(img, 0, 0);
          canvas.onclick = canvasClick;
          var t = setInterval(()=>{
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
            dot.x = map(xRange.value, xRange.min, xRange.max, 0, canvas.width);
            dot.y = map(yRange.value, yRange.min, yRange.max, 0, canvas.height);
            dot.draw();
            document.getElementById('setpoint').innerHTML = 'X: '+xRange.value + ', Y: '+yRange.value;
          },50);
        });
      }

      //Set min and max values of the ranges
      xRange.min = -platformRadius;
      xRange.max = platformRadius;
      yRange.min = -platformRadius;
      yRange.max = platformRadius;

      //Dot object
      function Dot(ctx){
        var me = this;
        var size = 10;
        this.x = 0;
        this.y = 0;
        this.draw = function(){
          ctx.strokeStyle = '#45b1ff';
          ctx.fillStyle = '#45b1ff';
          ctx.beginPath();
          ctx.arc(me.x,me.y,30,0,2*Math.PI);
          ctx.lineWidth = 2;
          ctx.stroke();
        }
      }

      //Canvas click event
      function canvasClick(e){
        if(!circle){
          var r = canvas.getBoundingClientRect();
          var x = e.clientX - r.left;
          var y = e.clientY - r.top;
          xRange.value = map(x, 0, canvas.width, xRange.min, xRange.max);
          yRange.value = map(y, 0, canvas.height, yRange.min, xRange.max);
          xRangeInputEvent();
          yRangeInputEvent();
          xyRangeClickEvent();
        }
      }

      function circleClick(){
        circle = !circle;
        if(circle){

        }
      }

      //xRange input event
      function xRangeInputEvent(){
        if(!circle){
          var x = xRange.value;
          var y = yRange.value;
          var dist = Math.sqrt(x*x + y*y);
          if(dist > allowedRadius){
            var val = Math.sqrt(allowedRadius*allowedRadius - y*y);
            if(x < 0){
              xRange.value = -val;
            } else {
              xRange.value = val;
            }
          }
        }
      }

      //yRange input event
      function yRangeInputEvent(){
        if(!circle){
          var x = xRange.value;
          var y = yRange.value;
          var dist = Math.sqrt(x*x + y*y);
          if(dist > allowedRadius){
            var val = Math.sqrt(allowedRadius*allowedRadius - x*x);
            if(y < 0){
              yRange.value = -val;
            } else {
              yRange.value = val;
            }
          }
        }
      }

      //Range click event
      function xyRangeClickEvent(){
        if(!circle){
          sendSetpoints(xRange.value, yRange.value);
        }
      }

      //Set event listeners
      xRange.addEventListener('input', xRangeInputEvent, false);
      yRange.addEventListener('input', yRangeInputEvent, false);
      xRange.addEventListener('click', xyRangeClickEvent);
      yRange.addEventListener('click', xyRangeClickEvent);

      //Send setpoint to the webserver
      function sendSetpoints(x,y){
        var http = new XMLHttpRequest();
        var url = window.location.href + 'setpoint';
        var data = JSON.stringify({
          "setpointX": x,
          "setpointY": -y
        });

        http.open('POST',url);
        http.setRequestHeader('Content-type', 'application/json');

        http.onreadystatechange = function(){
          if(http.readyState === 4){
            if(http.status !== 200){
              alert("Error, post request failed");
            } else {
              getSetpoints();
            }
          }
        }

        http.send(data);
      }

      //Get setpoint from web-server
      function getSetpoints(cb){
        var http = new XMLHttpRequest();
        var url = window.location.href + 'setpoint';

        http.open('GET', url); 

        http.onreadystatechange = function(){
          if(http.readyState === 4){
            if(http.status !== 200){
                alert("Error, post request failed");
            } else {
              console.log(http.responseText);
              var json = JSON.parse(http.responseText);
              xRange.value = json["setpointX"];
              yRange.value = -json["setpointY"];
              xRangeInputEvent();
              yRangeInputEvent();
              if(cb){
                cb();
              }
            }
          }
        }

        http.send();
      }

      //Map function
      function map(x, in_min, in_max, out_min, out_max) {
        return (Number(x)-Number(in_min))*((Number(out_max)-Number(out_min))/(Number(in_max)-Number(in_min)))+Number(out_min);
      }

      function doCircle(){
        setInterval(()=>{
          var setpoints = getCircleValues(80);
          xRange.value = setpoints[0];
          yRange.value = setpoints[1];
          sendSetpoints(xRange.value,yRange.value);
        },100);
      }

      function getCircleValues(radius){
        var xPos;
        var yPos;
        var x = 1;
        yPos = radius;
        xPos = 0;
        var pos = new Array(xPos, yPos);

        if ((yPos <= radius && yPos>=0) && xPos >= 0) {
          //for (x = 1; x <= radius; x++) {
              pos[0] = xPos + 1;
              pos[1] = - Math.sqrt(radius*radius - pos[0]*pos[0]) + 0.5;
            //break;
          //}
        }
        if ((xPos <= radius && xPos <= 0) && yPos <= 0) {
          //for (x = 1; x <= radius; x++) {
              pos[0] = xPos - 1;
              pos[1] = - Math.sqrt(radius*radius - pos[0]*pos[0]) + 0.5;
            //break
          //}
        }
        if (xPos <= 0 && (yPos >= -radius && yPos <=0)) {
          //for (x = 1; x <= radius; x++) {
              pos[0] = xPos - 1;
              pos[1] = Math.sqrt(radius*radius - pos[0]*pos[0]) + 0.5;
            //break
          //}
        }

        if ((xPos <= -radius && xPos <= 0) && yPos >= 0) {
          //for (x = 1; x <= radius; x++) {
              pos[0] = xPos - 1;
              pos[1] = Math.sqrt(radius*radius - pos[0]*pos[0]) + 0.5;
            //break
          //}
        }
        return pos;
      }
    });
  </script>
</html>
